{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="/css/center.css") }}"/>
{% endblock %}
{% block content %}
    <h2 class="center">Пейзажи Марса</h2>
    <div id="carouselExampleIndicators" class="carousel slide center" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for i in r %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}"
                        {% if loop.first %}
                        class="active" {% endif %}
                        aria-current="true" aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item{% if loop.first %} active{% endif %}">
                    <img src="{{ image }}" class="d-block w-100"
                         alt="Фото марса">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
    <form action="" method="POST" novalidate enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="formFile" class="form-label">{{ form.photo.label() }}</label>
            {{ form.photo(class="form-control", type="file", id="formFile") }}
        </div>
        {{ form.submit( type="submit",class="btn btn-primary") }}
    </form>
{% endblock %}