{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="/css/center.css") }}"/>
    <style>
        .table_color {
            background-color: {{ color }};
            width: 500px;
            height: 500px;
            background-position: center;
            -webkit-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block content %}
    <h2 class="center">Оформление каюты</h2>
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
            <tr>
                <th>Цвет стен</th>
                <th>Эмблема</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <div class="table_color"></div>
                </th>
                <th>
                    <img src="{{ photo_url }}" alt="Инопланетянин">
                </th>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}